body {
	margin: 0;
	background: rgb(28, 32, 34);
}

.panel {
  display: table;
	border-collapse: collapse;
}

.row{
	display: table-row;
}

.cell {
  display: table-cell;
	width: 100%;
	padding: 5px;
}

.btn {
	background-color: rgb(64, 169, 243);
	background-size: 720%;
	box-sizing: border-box;
	text-align: center;
	color: white;
	font-weight: 600;
	width: inherit;
	user-select: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.875em;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	outline: none;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(102, 185, 244);
	border-image: initial;
	border-radius: 4px;
	text-decoration: none;
	overflow: hidden;
	padding: 0.5em 0.7em;
}